<app-header></app-header>

<!-- <app-products></app-products> -->

<!-- <button (click)="viewItems()">Display</button>

<div *ngIf="isClicked; then Display"></div>
<ng-template #Display>
  <h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsList">
          <td>{{ product.Id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quentity }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </tbody>
    </table>
  </h2>
</ng-template> -->

<router-outlet></router-outlet>
<app-footer></app-footer>
